<body>
<h1> FOODTRUCK</h1>
        <ul>
            <li>
                <a routerLink="getFoods" routerLinkActive="active" href="#">getFoods</a>
            </li>
            <li>
                <a routerLink="orderFood" routerLinkActive="active" href="#">orderFood</a>
            </li>
            <li>
                <a routerLink="registerCustomer" routerLinkActive="active" href="#">registerCustomer</a>
            </li>

        </ul>
    </body>        
    <router-outlet></router-outlet>